[run]
source = redbox
branch = False
omit = 
    tests/*
    redbox/testing.py
    _version.py

data_file = cov_data/.coverage

[report]

omit = 
    redbox/tests/*
    redbox/testing.py
    redbox/_version.py

# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

    # Ignore type checking imports
    if TYPE_CHECKING

ignore_errors = True

[html]
directory = htmlcov